@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

nav {
    background-color: #3c3939;
    height: 70px;
    display: flex;
    align-items: center;
}

a {
    font-size: 36px;
    color: white;
    text-decoration: none;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

a:hover {
    background-color: tomato;
}

a.active {
    background-color: dodgerblue;
}